<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5baf0b16-ae6e-4c2b-8806-23a9b824b2a5" Alias="galleryPage" Level="1">
  <Info>
    <Name>Gallery</Name>
    <Icon>icon-art-easel color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Page used for the art gallery</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4ff4a1fc-24db-489a-bdd2-532081dbc62f">contentBase</Composition>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Gallery</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ac17c14f-9daf-4ce1-aca5-6fc4bcea5649">Gallery</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f69ef278-c353-41b0-bfef-ef21ee5ea5ec</Key>
      <Name>galleryText</Name>
      <Alias>galleryText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main gallery text]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="galleryText">Gallery Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>db21e428-27d3-4ba3-b331-3c2607a163dc</Key>
      <Caption>Gallery Text</Caption>
      <Alias>galleryText</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>