<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d413ac1-43ee-42ee-82e9-c22ee427d219" Alias="galleryImage" Level="1">
  <Info>
    <Name>Gallery Image</Name>
    <Icon>icon-brush color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>GalleryImage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5c317cf9-e816-4295-b292-1ec39279b912</Key>
      <Name>Alt-Text</Name>
      <Alias>altText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Alternativ text för bilden]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="bild">Bild</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Alt-Text måste uppges för alla bilder</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a800dd94-4f0e-4102-8c90-9cd3596af523</Key>
      <Name>Tillgänglighet</Name>
      <Alias>availability</Alias>
      <Definition>df1d451f-b6af-4590-9c5b-77f6ceb8d8ae</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="detaljer">Detaljer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>43c34031-5784-475b-8ddc-50fb2d53de7f</Key>
      <Name>Beskrivning</Name>
      <Alias>beskrivning</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Frivillig beskrivande text för bilden]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bild">Bild</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7cc27a6f-9113-42a4-af8e-09e89e3e9146</Key>
      <Name>Höjd</Name>
      <Alias>height</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mtt">Mått</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Ange enbart hela cm</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6a41decd-6bbe-42b8-966e-542fe2c51f0c</Key>
      <Name>Bild</Name>
      <Alias>image</Alias>
      <Definition>0a52f3d0-4fde-48bd-bb81-f1ff94059439</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The artwork that will be shown in the gallery]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bild">Bild</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>149392ec-cc51-4d81-8e92-f3d2457a12b6</Key>
      <Name>Taggar</Name>
      <Alias>miscTags</Alias>
      <Definition>6ade5cfd-8cea-4227-a5b1-77486724f0d9</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Generella detaljer som binder samman olika konstverk, t.ex. utställning eller porträttmålningar]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="detaljer">Detaljer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47efd4db-16dd-4d1c-a97f-757b26636fd3</Key>
      <Name>Serie</Name>
      <Alias>series</Alias>
      <Definition>7e9aae52-7657-4f43-bf15-92656d3b3f84</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="motiv">Motiv</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>204b6e23-0e93-4319-8e9e-d8876c409dd8</Key>
      <Name>Taggar</Name>
      <Alias>tags</Alias>
      <Definition>0825305c-d85b-48b9-9871-318476859e9d</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Motivrelaterade detaljer som binder samman olika konstverk]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="motiv">Motiv</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8ab95f3-8b60-45cb-a9b5-7e50eb9375df</Key>
      <Name>Teknik</Name>
      <Alias>technique</Alias>
      <Definition>cba098eb-b32d-44c1-8d61-4d556dee1db3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="teknik">Teknik</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>368791ec-7ce7-43ac-8109-d9a24ba9f3d2</Key>
      <Name>Titel</Name>
      <Alias>titel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bild">Bild</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Varje tavla måste ha en titel</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b8c0bb02-0b1f-4ca0-946f-34b965f4aed2</Key>
      <Name>Visa under porträtt</Name>
      <Alias>useAsPortrait</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bilder med det här påslaget kommer visas på porträtt-sidan]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="detaljer">Detaljer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90c892b1-989f-41b5-9f73-fc9df1d07ff8</Key>
      <Name>Bredd</Name>
      <Alias>width</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mtt">Mått</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Ange enbart hela cm</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a1a64b1-5c89-4cb5-a005-37155440a196</Key>
      <Caption>Motiv</Caption>
      <Alias>motiv</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>1a3d8493-52c4-498f-91c1-9d6e094cce8d</Key>
      <Caption>Bild</Caption>
      <Alias>bild</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>22b5c7eb-6be7-405b-979f-9bb8baa5c761</Key>
      <Caption>Detaljer</Caption>
      <Alias>detaljer</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>38aa6b36-59e8-4fd0-8ca2-d76e881c3e38</Key>
      <Caption>Mått</Caption>
      <Alias>mtt</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>85945918-9fa7-4a48-8a2d-4b8178894788</Key>
      <Caption>Teknik</Caption>
      <Alias>teknik</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>