<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f7ec662c-d06a-438c-b052-ef7a426070f6" Alias="portrait" Level="1">
  <Info>
    <Name>Portrait</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="739832d5-afc3-4d67-83d2-af4f48f65ded">contactFormBase</Composition>
      <Composition Key="d28cbd78-0b45-49c6-b82d-7f7182e28747">contactFormCTA</Composition>
      <Composition Key="4ff4a1fc-24db-489a-bdd2-532081dbc62f">contentBase</Composition>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Portrait</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0971a4e9-a129-473e-ab5f-69e639d5f4fe">Portrait</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>