<?xml version="1.0" encoding="utf-8"?>
<Macro Key="65a25b92-50b9-49af-83e5-d130af3797a7" Alias="BannerImage" Level="0">
  <Name>BannerImage</Name>
  <MacroSource>~/Views/MacroPartials/BannerImage.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>BannerText</Name>
      <Alias>bannerText</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>ImageUrl</Name>
      <Alias>imageUrl</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>