<?xml version="1.0" encoding="utf-8"?>
<Macro Key="73891355-0a07-4c20-8bbb-2da203217316" Alias="FrontPageMenuItem" Level="0">
  <Name>Front Page Menu Item</Name>
  <MacroSource>~/Views/MacroPartials/FrontPageMenuItem.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Label</Name>
      <Alias>label</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.MultipleMediaPicker</EditorAlias>
    </Property>
    <Property>
      <Name>Url</Name>
      <Alias>url</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>