@using Atelje_Konstram.ViewModels;
@using Umbraco.SampleSite.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.BannerImage != null ? Model.BannerImage.Url() : String.Empty;
    var pageTitle = Model.PageTitle ?? string.Empty;

    var contactTitle = Model.ContactTitle ?? string.Empty;
    var contactInfo = Model.ContactInfo ?? string.Empty;
}

@await Umbraco.RenderMacroAsync("BannerImage", new {imageUrl=@backgroundImage, bannerText=@pageTitle})


<section class="section">
    <div class="container text-container">

        <div class="row">
            <div class="col-md-6">
                @Model.Value("contactIntro")
            </div>
            <div class="col-md-6">
                <h2>@Model.MapHeader</h2>
                @Model.Value("adress")
                <div aria-hidden="true">
                @Model.MapCoordinates
                </div>

            </div>
            <section class="container">
                <hr />
            <div class="contact-container">
                @{
                    await Html.RenderPartialAsync("Partials/ContactForm", 
                    new PageContactFormViewModel() { Title = @contactTitle, PageInfo = @contactInfo });
                }
            </div>
            </section>
         

        </div>
    </div>
</section>