@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GalleryPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
    var backgroundImage = Model.BannerImage != null ? Model.BannerImage.Url() : String.Empty;
    var pageTitle = Model.PageTitle ?? string.Empty;
}

@await Umbraco.RenderMacroAsync("BannerImage", new {imageUrl=@backgroundImage, bannerText=@pageTitle})

<section class="container text-container">
    <article>
        @await Html.GetBlockGridHtmlAsync(Model, "galleryText")
    </article>
</section>

<section class ="container">
    <hr/>
    <div class="gallery-grid">
        @foreach (GalleryImage galleryImage in Model.Children<GalleryImage>())
        {
            <div class="gallery-grid-item">
                    <img class="gallery-grid-item-image" src='@galleryImage.Image?.Url()'></img>
            </div>
        }
    </div>


</section>