.courses-div {
    padding: 20px;
}

.courses-center {
    max-width: 620px;
    margin: auto;
}

/*May be a class that does this exact thing somewhere else*/
.courses-text-center {
    text-align: center;
}