.gallery-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden
}

.gallery-grid-item{
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    padding: 5px 10px;
}



.gallery-grid-item-image {
    height: fit-content;
    width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
}


@media (min-width:660px) {
    .gallery-grid-item {
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%;
        padding: 5px
    }

    .gallery-grid {
        margin-inline: 5px;
    }

    .gallery-grid-item-image {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 50%;
    }
}


@media (min-width:992px) {
    .gallery-grid{
        margin-left: 20px;
        margin-right: 20px
    }

}


@media (min-width:1200px) {

    .gallery-grid-item{
        -ms-flex: 1 1 33%;
        flex: 1 1 33%;
        max-width: 33%
    }


    .gallery-grid {
        margin-inline: 0px;
    }

    .gallery-grid-item {
        padding: 5px;
    }
}

