.comment-section{
    width: 100%;
    background-color: var(--primary-50);
    padding-block: 2rem;
}

.comment-container{
    margin: auto;
    width: fit-content;
    max-width: 600px;
    text-align: left;
}

.comment-text {
    font-style: italic;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0;
}

.comment-author {
    margin-top: 0;
    padding-left: 0.25rem;
    text-align: left;
    font-weight: 600;
}

.main-gallery{
    width: 100%;
    height: 250px;
    background-color: white;
}

.gallery-cell{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--space-small);
}