<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df1d451f-b6af-4590-9c5b-77f6ceb8d8ae" Alias="Gallery Image - Availability - Dropdown" Level="1">
  <Info>
    <Name>Gallery Image - Availability - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Till Salu"
    },
    {
      "id": 2,
      "value": "För utlåning"
    },
    {
      "id": 3,
      "value": "Kan återskapas"
    },
    {
      "id": 4,
      "value": "Ej tillgänglig"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>