<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a52f3d0-4fde-48bd-bb81-f1ff94059439" Alias="Gallery Image - Image - Media Picker" Level="1">
  <Info>
    <Name>Gallery Image - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>