<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ade5cfd-8cea-4227-a5b1-77486724f0d9" Alias="Gallery Image - Taggar - Misc Tags" Level="1">
  <Info>
    <Name>Gallery Image - Taggar - Misc Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "galleryMisc",
  "StorageType": 1
}]]></Config>
</DataType>