<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0825305c-d85b-48b9-9871-318476859e9d" Alias="Gallery Image - Taggar - Tags" Level="1">
  <Info>
    <Name>Gallery Image - Taggar - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "gallery",
  "StorageType": 1
}]]></Config>
</DataType>