<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cba098eb-b32d-44c1-8d61-4d556dee1db3" Alias="Gallery Image - Teknik" Level="1">
  <Info>
    <Name>Gallery Image - Teknik</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Akvarell"
    },
    {
      "id": 2,
      "value": "Akryl"
    },
    {
      "id": 3,
      "value": "Olja"
    },
    {
      "id": 4,
      "value": "Kolteckning"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>