<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f671a612-1501-459a-a0d2-e109242e0245" Alias="Gallery Image - Serie - Dropdown" Level="1">
  <Info>
    <Name>Gallery Image - Serie - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Människor, Miljöer"
    },
    {
      "id": 2,
      "value": "Modern"
    },
    {
      "id": 3,
      "value": "Stad"
    },
    {
      "id": 4,
      "value": "Fyrar Båtar Hav"
    },
    {
      "id": 5,
      "value": "Stilleben, Blommor"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>