<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e9aae52-7657-4f43-bf15-92656d3b3f84" Alias="Gallery Image - Serie" Level="1">
  <Info>
    <Name>Gallery Image - Serie</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "gallerySeries",
  "StorageType": 1
}]]></Config>
</DataType>