<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bd4c03c-2d1c-434f-beb9-235ff5e48cfc" Alias="Home - Kommentar Ett - Författare - Textbox" Level="1">
  <Info>
    <Name>Home - Kommentar Ett - Författare - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>