<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97ad313d-a361-4989-a2f3-ad8baa44635b" Alias="Restoration - Par - Media Picker" Level="1">
  <Info>
    <Name>Restoration - Par - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "par",
      "height": 800,
      "label": "Par",
      "width": 600
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 2,
    "min": 0
  }
}]]></Config>
</DataType>