.contact-container {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
    margin-inline: auto;
}

.form-group {
    border-radius: 5px;
    /*Förslag: Typ en primary 10 eller black 10 här, lite för skrikigt med stark färg / Björn */
    /*Förslag 2: Luta in i skrikigheten genom att sätta --primary-100 och vit text, ser helt ok ut*/
    background-color: var(--primary-50);
    /*border: 2px solid var(--primary-100);  möjligen border kan också hjälpa */
    padding: 20px;
    margin-inline: auto;


}

.form-title{
    margin: 0 !important;
    text-transform: none;
    letter-spacing: 0.5px;
    /*color: white;*/
}

.form-pageinfo-container {
    margin-block: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-25);
    border-radius: 5px;
}

.form-pageinfo{
    width: 100%;
}

.form-message {
    border-radius: 5px;
    border: 1px solid var(--primary-100);
    min-height: 12rem;
}

.form-email, .form-name{
    height: 2.5rem;
}

.form-email, .form-name, .form-message {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--primary-100);
    border-radius: 5px;
    resize: vertical;
    margin-top: 0.1rem;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.form-input-container {
    margin-top: 10px;
}

.form-input-container label{
    padding-left: 0.2rem;
    /*color: white;*/
}

.submit-button {
    background-color: var(--primary-100);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
}


    .submit-button:hover {
        background-color: var(--primary-25);
        color: var(--black-100);
    }
