footer {
    margin-top: 4rem;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-background {
    background-color: var(--primary-100);
    color: white;
}

.footer-name {
    font-family: Sensations and Qualities, serif;
    font-size: 2rem;
}

.footer-h2 {
    font-size: 1.2rem;
}