a, nav-link {
    font-family: Playfair Display, serif;
}

.logo-text:hover {
    border-bottom-color: var(--primary-100) !important;
}

.logo-text {
    font-family: Painting With Chocolate, serif;
    color: var(--primary-100) !important;
    text-transform: none;
    letter-spacing: 0px;
    white-space: nowrap;
}

@media screen and (max-width: 335px) {
    .logo-text {
        font-size: 1.1rem;
    }

    .logo {
        padding-left: 5px;
    }

    .mobile-nav-handler {
        margin-right: 15px;
    }
}

@media (max-width:992px) {
    .header .nav-bar {
        display: none
    }

    .nav-bar {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center
    }
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    width: 100%;
    z-index: 4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;

}

.header-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.header--fixed {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    transition: padding .2s cubic-bezier(.694,.0482,.335,1),background .2s cubic-bezier(.694,.0482,.335,1);
    left: 0;
    position: fixed
}

    .header--fixed .nav-bar {
        white-space: nowrap;
    }

.header--fixed {
    box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
    -moz-box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
    -webkit-box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
}

.hero-text {
    letter-spacing: 1.4px;
}

.section--half-height {
    height: max(45vh, 300px);
}