.container p,
.container ul,
.container ol,
.container h2,
.container h3,
.container h4,
.container h5 {
    max-width: 620px;
    margin: auto;
}

.main-container{
    padding-top: 5rem;
}

.container hr {
    margin-inline: 0.7rem;
}

@media only screen and (min-width: 768px) {
    .container hr {
        margin-inline: 0;
    }        
}