.text-container p,
.text-container ul,
.text-container ol,
.text-container h2,
.text-container h3,
.text-container h4,
.text-container h5 {
    max-width: 620px;
    margin: auto;
}

.main-container{
    padding-top: 5rem;
}

.container hr {
    margin-inline: 0.7rem;
}

@media only screen and (min-width: 768px) {
    .container hr {
        margin-inline: 0;
    }        
}
