.umb-block-grid img {
    box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
    -moz-box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
    -webkit-box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
}

.cta-container {
    max-width: 620px;
    margin: auto;
}

/*TODO HItta rätt breakpoint */
@media only screen and (max-width:600px){
    .cta-container {
        padding: 20px;
    }
}