@font-face {
    font-family: "Painting With Chocolate";
    src: url("../fonts/Painting_With_Chocolate.ttf") format('truetype');
}
@font-face {
    font-family: "Sensations and Qualities";
    src: url("../fonts/Sensations and Qualities.ttf") format('truetype');
}


html {
    font-family: Source Sans Pro, sans-serif;
    color: var(--black-100);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Playfair Display, serif;
}


a, nav-link {
    font-family: Playfair Display, serif;
}

.logo-text {
    font-family: Painting With Chocolate, serif;
    color: var(--primary-100) !important;
    text-transform: none;
    letter-spacing: 0px;
}

@media screen and (max-width: 335px) {
    .logo-text {
        font-size: 1.1rem;
    }

    .logo {
        padding-left: 5px;
    }
    .mobile-nav-handler {
        margin-right: 15px;
    }
}

.logo-text:hover {
    border-bottom-color: var(--primary-100) !important;
}



.header--fixed {
    box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
    -moz-box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
    -webkit-box-shadow: 0 0.2rem 0.4rem var(--shadow-50);
}

.hero-text {
    letter-spacing: 1.4px;
}

.footer-background {
    background-color: var(--primary-100);
    color: white;
}

.footer-name {
    font-family: Sensations and Qualities, serif;
    font-size: 2rem;
}

.footer-address {
    line-height: 2.15;
}

.mobile-nav--open a {
    color: white !important;
}


.mobile-nav--open a:visited, 
.mobile-nav--open a:hover {
    border-color: white !important;
}

.mobile-nav-line {
    visibility: hidden;
}

.mobile-nav--open .mobile-nav-line {
    content: "";
    visibility: visible;
    height: 2px;
    background-color: var(--primary-opacity-50);
    width: 50vw;
    border-radius: 50%;
}


.section--half-height {
    height: max(45vh, 300px);
}

.main-container {
    padding-top: 5rem;
}

.cardmenu {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.cardmenu-item {
    position: relative;
    overflow: hidden;
    height: 7rem;
    /*width: 20rem;*/
    border: 1px solid white;
    
}

.cardmenu-label {
    font-size: 1.5rem;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
    background-color: rgba(37,33,33,.60);
}

    .cardmenu-label:hover {
        font-size: 1.6rem;
        background-color: rgba(37,33,33,.40);
    }

.cardmenu-label, a {
    text-decoration: none;
}

.cardmenu-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

    .cardmenu-image-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        /*filter: grayscale(20%);*/
    }

/*
.cardmenu-image-container img:hover {
    filter: grayscale(0);
    }
*/

.container p,
.container ul,
.container ol,
.container h2,
.container h3,
.container h4,
.container h5 {
    max-width: 620px;
    margin: auto;
}
