@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro:400,700,300,600,600italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500|Lato:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,700,400italic|Noto+Sans:400,700);
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

*, :after, :before {
    box-sizing: border-box
}

/*This code could prevent users to zoom in on the text/use the textsize they've set in their browser*/
/*html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

    audio:not([controls]) {
        display: none;
        height: 0
    }

[hidden], template {
    display: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

    button[disabled], html input[disabled] {
        cursor: default
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0
    }

input {
    line-height: normal
}

    input[type=checkbox], input[type=radio] {
        padding: 0
    }

    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        height: auto
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box
    }

        input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
            -webkit-appearance: none
        }

textarea {
    overflow: auto
}

.container {
    margin-right: auto;
    margin-left: auto;
}

    .container:after, .container:before {
        content: " ";
        display: table
    }

    .container:after {
        clear: both
    }

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

    .container-fluid:after, .container-fluid:before {
        content: " ";
        display: table
    }

    .container-fluid:after {
        clear: both
    }

    .row:after, .row:before {
        content: " ";
        display: table
    }

    .row:after {
        clear: both
    }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left
}

.col-xs-1 {
    width: 8.333333%
}

.col-xs-2 {
    width: 16.666667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.333333%
}

.col-xs-5 {
    width: 41.666667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.333333%
}

.col-xs-8 {
    width: 66.666667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.333333%
}

.col-xs-11 {
    width: 91.666667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-pull-1 {
    right: 8.333333%
}

.col-xs-pull-2 {
    right: 16.666667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.333333%
}

.col-xs-pull-5 {
    right: 41.666667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.333333%
}

.col-xs-pull-8 {
    right: 66.666667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.333333%
}

.col-xs-pull-11 {
    right: 91.666667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-push-1 {
    left: 8.333333%
}

.col-xs-push-2 {
    left: 16.666667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.333333%
}

.col-xs-push-5 {
    left: 41.666667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.333333%
}

.col-xs-push-8 {
    left: 66.666667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.333333%
}

.col-xs-push-11 {
    left: 91.666667%
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.333333%
}

.col-xs-offset-2 {
    margin-left: 16.666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.333333%
}

.col-xs-offset-5 {
    margin-left: 41.666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.333333%
}

.col-xs-offset-8 {
    margin-left: 66.666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.333333%
}

.col-xs-offset-11 {
    margin-left: 91.666667%
}

.col-xs-offset-12 {
    margin-left: 100%
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple], select[size] {
    height: auto
}

input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

output {
    padding-top: 7px
}

.form-control, output {
    display: block;
    font-size: 14px;
    line-height: 1.428571;
    color: #555
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

    .form-control:focus {
        border-color: var(--primary-100);
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

    .form-control::-moz-placeholder {
        color: #999;
        opacity: 1
    }

    .form-control:-ms-input-placeholder {
        color: #999
    }

    .form-control::-webkit-input-placeholder {
        color: #999
    }

    .form-control::-ms-expand {
        border: 0;
        background-color: transparent
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #eee;
        opacity: 1
    }

    .form-control[disabled], fieldset[disabled] .form-control {
        cursor: not-allowed
    }

textarea.form-control {
    height: auto
}

input[type=search] {
    -webkit-appearance: none
}

.form-group {
    margin-bottom: 15px
}
/*
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

    .checkbox label, .radio label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer
    }

    .checkbox-inline input[type=checkbox], .checkbox input[type=checkbox], .radio-inline input[type=radio], .radio input[type=radio] {
        position: absolute;
        margin-left: -20px;
        margin-top: 4px\9
    }

    .checkbox + .checkbox, .radio + .radio {
        margin-top: -5px
    }

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer
}

    .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
        margin-top: 0;
        margin-left: 10px
    }

    .checkbox-inline.disabled, .checkbox.disabled label, .radio-inline.disabled, .radio.disabled label, fieldset[disabled] .checkbox-inline, fieldset[disabled] .checkbox label, fieldset[disabled] .radio-inline, fieldset[disabled] .radio label, fieldset[disabled] input[type=checkbox], fieldset[disabled] input[type=radio], input[type=checkbox].disabled, input[type=checkbox][disabled], input[type=radio].disabled, input[type=radio][disabled] {
        cursor: not-allowed
    }*/

.form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-height: 34px
}

    .form-control-static.input-lg, .form-control-static.input-sm, .input-group-lg > .form-control-static.form-control, .input-group-lg > .form-control-static.input-group-addon, .input-group-lg > .input-group-btn > .form-control-static.btn, .input-group-sm > .form-control-static.form-control, .input-group-sm > .form-control-static.input-group-addon, .input-group-sm > .input-group-btn > .form-control-static.btn {
        padding-left: 0;
        padding-right: 0
    }

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.input-group-sm > .input-group-btn > select.btn, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, select.input-sm {
    height: 30px;
    line-height: 30px
}

.input-group-sm > .input-group-btn > select[multiple].btn, .input-group-sm > .input-group-btn > textarea.btn, .input-group-sm > select[multiple].form-control, .input-group-sm > select[multiple].input-group-addon, .input-group-sm > textarea.form-control, .input-group-sm > textarea.input-group-addon, select[multiple].input-sm, textarea.input-sm {
    height: auto
}

.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.form-group-sm select.form-control {
    height: 30px;
    line-height: 30px
}

.form-group-sm select[multiple].form-control, .form-group-sm textarea.form-control {
    height: auto
}

.form-group-sm .form-control-static {
    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.333333;
    border-radius: 6px
}

.input-group-lg > .input-group-btn > select.btn, .input-group-lg > select.form-control, .input-group-lg > select.input-group-addon, select.input-lg {
    height: 46px;
    line-height: 46px
}

.input-group-lg > .input-group-btn > select[multiple].btn, .input-group-lg > .input-group-btn > textarea.btn, .input-group-lg > select[multiple].form-control, .input-group-lg > select[multiple].input-group-addon, .input-group-lg > textarea.form-control, .input-group-lg > textarea.input-group-addon, select[multiple].input-lg, textarea.input-lg {
    height: auto
}

.form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.333333;
    border-radius: 6px
}

.form-group-lg select.form-control {
    height: 46px;
    line-height: 46px
}

.form-group-lg select[multiple].form-control, .form-group-lg textarea.form-control {
    height: auto
}

.form-group-lg .form-control-static {
    height: 46px;
    min-height: 38px;
    padding: 11px 16px;
    font-size: 18px;
    line-height: 1.333333
}

.has-feedback {
    position: relative
}

    .has-feedback .form-control {
        padding-right: 42.5px
    }

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none
}

.form-group-lg .form-control + .form-control-feedback, .input-group-lg + .form-control-feedback, .input-group-lg > .form-control + .form-control-feedback, .input-group-lg > .input-group-addon + .form-control-feedback, .input-group-lg > .input-group-btn > .btn + .form-control-feedback, .input-lg + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px
}

.form-group-sm .form-control + .form-control-feedback, .input-group-sm + .form-control-feedback, .input-group-sm > .form-control + .form-control-feedback, .input-group-sm > .input-group-addon + .form-control-feedback, .input-group-sm > .input-group-btn > .btn + .form-control-feedback, .input-sm + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px
}

.product-grid__item:hover body.theme-color-earth .product-grid__item__name, .product-grid__item:hover body.theme-color-earth .product-grid__item__price, body.theme-color-earth .bg-main-color, body.theme-color-earth .button--border--solid, body.theme-color-earth .mobile-nav, body.theme-color-earth .product-grid__item:hover .product-grid__item__name, body.theme-color-earth .product-grid__item:hover .product-grid__item__price, body.theme-color-earth .section--themed {
    background-color: var(--primary-100);
    color: white;
}

.hamburger.lines:hover.active body.theme-color-earth span:after, .hamburger.lines:hover.active body.theme-color-earth span:before, .hamburger body.theme-color-earth span, .hamburger body.theme-color-earth span:after, .hamburger body.theme-color-earth span:before, body.theme-color-earth .bg-secondary-color, body.theme-color-earth .hamburger.lines:hover.active span:after, body.theme-color-earth .hamburger.lines:hover.active span:before, body.theme-color-earth .hamburger span, body.theme-color-earth .hamburger span:after, body.theme-color-earth .hamburger span:before, body.theme-color-earth .nav-link--home__text:after {
    background-color: #000;
    color: #e7afa3
}

.blogposts-centered body.theme-color-earth .blogpost-title, body.theme-color-earth .blogposts-centered .blogpost-title, body.theme-color-earth .button--border, body.theme-color-earth .font-main-color, body.theme-color-earth .nav-link, body.theme-color-earth .section__hero-content, body.theme-color-earth footer a, footer body.theme-color-earth a {
    color: #000
}

article body.theme-color-earth a, article body.theme-color-earth a:visited, body.theme-color-earth .employee-grid__item__email, body.theme-color-earth .font-link-color, body.theme-color-earth article a, body.theme-color-earth article a:visited {
    color: #90514c
}

body.theme-color-earth--active.nav-link:visited, body.theme-color-earth .border-main-color, body.theme-color-earth .button--border, body.theme-color-earth .nav-link--active, body.theme-color-earth .nav-link:hover {
    border-color: #000
}

/*PRODUCT may delete later*/
.product-image-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start
}

.product-image {
    max-width: 100%;
    max-height: 600px
}

.product-price {
    font-size: 30px;
    margin-bottom: 20px
}

.product-teaser {
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 20px
}

.product-button {
    margin-bottom: 40px
}

.product-advantages {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.product-advantage {
    padding: 15px 0;
    font-weight: 700;
    border-top: 1px solid #f2f2f2
}

    .product-advantage:last-child {
        border-bottom: 1px solid #f2f2f2
    }

.product-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden
}

.product-grid__item {
    height: 300px;
    position: relative;
    overflow: hidden;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

    .product-grid__item:hover {
        cursor: pointer
    }

.product-grid__item__overlay {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start
}

.product-grid__item-image {
    max-width: 100%
}

.product-grid__item__name, .product-grid__item__price {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 5px;
    background-color: rgba(0,0,0,.35);
    padding: 2px 5px;
    display: inline-block
}

body.fixed .top-nav.-open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate(0)
}

/*May delete later*/
/*.logo-image {
    max-width: 180px;
    max-height: 100px;
    height: auto;
    margin-left: 20px;
    display: block
}*/

.nav-bar {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row
}

.nav-bar--list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start
}

.nav-bar--center, .nav-bar--list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.nav-bar--air-bottom {
    margin-bottom: 40px
}

.nav-link, .nav-link:visited {
    text-decoration: none;
    margin: 12px 12px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent
}

.nav-link--home {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 40px;
}

    .nav-link--home:hover {
        box-shadow: none
    }


.section--stroke-bottom {
    border-bottom: 1px solid #f2f2f2
}

.section--content-center {
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.section--content-center, .section--content-center-bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.section--content-center-bottom {
    -ms-flex-align: end;
    align-items: flex-end
}


body.frontpage .section__hero-content {
    color: #fff
}

.section__hero-content {
    max-width: 760px;
    padding: 0 20px
}

.section__description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 60px
}

.background-image-full {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%
}



/*May delete later: employee-stuff*/
.employee-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden
}

.employee-grid__item {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px
}

.employee-grid__item__image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

.employee-grid__item__details {
    padding: 30px;
    background: #f4f4f0
}

.employee-grid__item__name {
    color: #000;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 5px
}

.employee-grid__item__email {
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block
}

.employee-grid__item__contact-item {
    color: rgba(0,0,0,.3);
    text-decoration: none;
    display: inline-block;
    margin-right: 10px
}

    .employee-grid__item__contact-item:hover {
        color: #000
    }

.form-control {
    border-radius: 0;
    box-shadow: none;
    transition: none;
    padding: 20px 15px
}

    .form-control:focus {
        border-color: #362bdc;
        box-shadow: none
    }



.ta-center {
    text-align: center
}

.mw-640 {
    max-width: 640px
}

.ma-h-auto {
    margin-left: auto;
    margin-right: auto
}

.no-air {
    margin: 0
}

.no-scroll {
    overflow: hidden
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
        line-height: 34px
    }

    .input-group-sm > .input-group-btn > input[type=date].btn, .input-group-sm > .input-group-btn > input[type=datetime-local].btn, .input-group-sm > .input-group-btn > input[type=month].btn, .input-group-sm > .input-group-btn > input[type=time].btn, .input-group-sm > input[type=date].form-control, .input-group-sm > input[type=date].input-group-addon, .input-group-sm > input[type=datetime-local].form-control, .input-group-sm > input[type=datetime-local].input-group-addon, .input-group-sm > input[type=month].form-control, .input-group-sm > input[type=month].input-group-addon, .input-group-sm > input[type=time].form-control, .input-group-sm > input[type=time].input-group-addon, .input-group-sm input[type=date], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month], .input-group-sm input[type=time], input[type=date].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm, input[type=time].input-sm {
        line-height: 30px
    }

    .input-group-lg > .input-group-btn > input[type=date].btn, .input-group-lg > .input-group-btn > input[type=datetime-local].btn, .input-group-lg > .input-group-btn > input[type=month].btn, .input-group-lg > .input-group-btn > input[type=time].btn, .input-group-lg > input[type=date].form-control, .input-group-lg > input[type=date].input-group-addon, .input-group-lg > input[type=datetime-local].form-control, .input-group-lg > input[type=datetime-local].input-group-addon, .input-group-lg > input[type=month].form-control, .input-group-lg > input[type=month].input-group-addon, .input-group-lg > input[type=time].form-control, .input-group-lg > input[type=time].input-group-addon, .input-group-lg input[type=date], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month], .input-group-lg input[type=time], input[type=date].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg, input[type=time].input-lg {
        line-height: 46px
    }
}

@media (min-width:768px) {
    .container {
        width: 750px
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left
    }

    .col-sm-1 {
        width: 8.333333%
    }

    .col-sm-2 {
        width: 16.666667%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.333333%
    }

    .col-sm-5 {
        width: 41.666667%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.333333%
    }

    .col-sm-8 {
        width: 66.666667%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.333333%
    }

    .col-sm-11 {
        width: 91.666667%
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-pull-1 {
        right: 8.333333%
    }

    .col-sm-pull-2 {
        right: 16.666667%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-4 {
        right: 33.333333%
    }

    .col-sm-pull-5 {
        right: 41.666667%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-7 {
        right: 58.333333%
    }

    .col-sm-pull-8 {
        right: 66.666667%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-10 {
        right: 83.333333%
    }

    .col-sm-pull-11 {
        right: 91.666667%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-push-1 {
        left: 8.333333%
    }

    .col-sm-push-2 {
        left: 16.666667%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-4 {
        left: 33.333333%
    }

    .col-sm-push-5 {
        left: 41.666667%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-7 {
        left: 58.333333%
    }

    .col-sm-push-8 {
        left: 66.666667%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-10 {
        left: 83.333333%
    }

    .col-sm-push-11 {
        left: 91.666667%
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .col-sm-offset-1 {
        margin-left: 8.333333%
    }

    .col-sm-offset-2 {
        margin-left: 16.666667%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.333333%
    }

    .col-sm-offset-5 {
        margin-left: 41.666667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.333333%
    }

    .col-sm-offset-8 {
        margin-left: 66.666667%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.333333%
    }

    .col-sm-offset-11 {
        margin-left: 91.666667%
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .employee-grid__item, .product-grid__item {
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%
    }

    .employee-grid__item {
        padding: 10px
    }
}

@media (min-width:993px) {
    .container {
        width: 970px
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left
    }

    .col-md-1 {
        width: 8.333333%
    }

    .col-md-2 {
        width: 16.666667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.333333%
    }

    .col-md-5 {
        width: 41.666667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.333333%
    }

    .col-md-8 {
        width: 66.666667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.333333%
    }

    .col-md-11 {
        width: 91.666667%
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-pull-1 {
        right: 8.333333%
    }

    .col-md-pull-2 {
        right: 16.666667%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-4 {
        right: 33.333333%
    }

    .col-md-pull-5 {
        right: 41.666667%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-7 {
        right: 58.333333%
    }

    .col-md-pull-8 {
        right: 66.666667%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-10 {
        right: 83.333333%
    }

    .col-md-pull-11 {
        right: 91.666667%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-push-1 {
        left: 8.333333%
    }

    .col-md-push-2 {
        left: 16.666667%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-4 {
        left: 33.333333%
    }

    .col-md-push-5 {
        left: 41.666667%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-7 {
        left: 58.333333%
    }

    .col-md-push-8 {
        left: 66.666667%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-10 {
        left: 83.333333%
    }

    .col-md-push-11 {
        left: 91.666667%
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-offset-1 {
        margin-left: 8.333333%
    }

    .col-md-offset-2 {
        margin-left: 16.666667%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.333333%
    }

    .col-md-offset-5 {
        margin-left: 41.666667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.333333%
    }

    .col-md-offset-8 {
        margin-left: 66.666667%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.333333%
    }

    .col-md-offset-11 {
        margin-left: 91.666667%
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .nav-link, .nav-link:visited {
        margin-left: 12px;
        margin-right: 12px
    }

    .button, .button--small {
        padding: 10px 80px
    }

    .employee-grid {
        margin-left: 20px;
        margin-right: 20px
    }

    .mobile-nav-handler {
        display: none
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left
    }

    .col-lg-1 {
        width: 8.333333%
    }

    .col-lg-2 {
        width: 16.666667%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: 33.333333%
    }

    .col-lg-5 {
        width: 41.666667%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: 58.333333%
    }

    .col-lg-8 {
        width: 66.666667%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: 83.333333%
    }

    .col-lg-11 {
        width: 91.666667%
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-pull-1 {
        right: 8.333333%
    }

    .col-lg-pull-2 {
        right: 16.666667%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-4 {
        right: 33.333333%
    }

    .col-lg-pull-5 {
        right: 41.666667%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-7 {
        right: 58.333333%
    }

    .col-lg-pull-8 {
        right: 66.666667%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-10 {
        right: 83.333333%
    }

    .col-lg-pull-11 {
        right: 91.666667%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-push-1 {
        left: 8.333333%
    }

    .col-lg-push-2 {
        left: 16.666667%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-4 {
        left: 33.333333%
    }

    .col-lg-push-5 {
        left: 41.666667%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-7 {
        left: 58.333333%
    }

    .col-lg-push-8 {
        left: 66.666667%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-10 {
        left: 83.333333%
    }

    .col-lg-push-11 {
        left: 91.666667%
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }

    .col-lg-offset-1 {
        margin-left: 8.333333%
    }

    .col-lg-offset-2 {
        margin-left: 16.666667%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-4 {
        margin-left: 33.333333%
    }

    .col-lg-offset-5 {
        margin-left: 41.666667%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-7 {
        margin-left: 58.333333%
    }

    .col-lg-offset-8 {
        margin-left: 66.666667%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-10 {
        margin-left: 83.333333%
    }

    .col-lg-offset-11 {
        margin-left: 91.666667%
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .employee-grid__item, .product-grid__item {
        -ms-flex: 1 1 33%;
        flex: 1 1 33%;
        max-width: 33%
    }

    .employee-grid__item {
        padding: 20px
    }
}