<?xml version="1.0" encoding="utf-8"?>
<Media Key="a19e4b13-85a0-49a2-80e9-6efbd74997e9" Alias="Akrylporträtt kvinna" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkrylportraettKvinna</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:50:52</CreateDate>
    <NodeName Default="Akrylporträtt kvinna" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cvfj3ina/portrait-2655458_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>