<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4b42cfa-fe27-4e6c-836b-200a76c4963a" Alias="Akryl uggla" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkrylUggla</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:51:44</CreateDate>
    <NodeName Default="Akryl uggla" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5qwljvbh/owl-3368991_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>