<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b1176eb-48bc-4b4f-a74d-0f67692dd795" Alias="Akryl höst" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkrylHoest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:51:44</CreateDate>
    <NodeName Default="Akryl höst" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3v1bcw32/house-2200715_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>