<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b9073f3-1840-475d-83a2-dc5bef0dedd8" Alias="Akryl vinter" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkrylVinter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:51:43</CreateDate>
    <NodeName Default="Akryl vinter" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4vzjbc0a/art-2200731_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>