<?xml version="1.0" encoding="utf-8"?>
<Media Key="d47d8e14-5a89-4391-a77b-81dd9b080657" Alias="Akryl lila" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkrylLila</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:51:43</CreateDate>
    <NodeName Default="Akryl lila" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ckhh1vej/art-692876_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>