<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ddbf1ea-1991-422d-8fc4-877ae54f6942" Alias="Akvarell havsfåglar" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkvarellHavsfaaglar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:56:31</CreateDate>
    <NodeName Default="Akvarell havsfåglar" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3tynwlmr/bird-3342446_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>