<?xml version="1.0" encoding="utf-8"?>
<Media Key="8669e341-e527-4aeb-be91-7eea71423b59" Alias="Akvarell porträtt kvinna" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkvarellPortraettKvinna</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:56:31</CreateDate>
    <NodeName Default="Akvarell porträtt kvinna" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i5rhtbrh/woman-4178302_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>