<?xml version="1.0" encoding="utf-8"?>
<Media Key="6699b48b-3544-4317-8dbf-f7219702c34e" Alias="Akvarell abstrakt färgbomb" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkvarellAbstraktFaergbomb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:56:31</CreateDate>
    <NodeName Default="Akvarell abstrakt färgbomb" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rw0jszse/pexels-fiona-art-4156561-1920x1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>