<?xml version="1.0" encoding="utf-8"?>
<Media Key="c13f9ce9-bf87-42e7-b93e-5b02cf32a031" Alias="Akvarell vinterdimma" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkvarellVinterdimma</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:56:31</CreateDate>
    <NodeName Default="Akvarell vinterdimma" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/34od5qmh/woods-7857082_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>