<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3d96444-b998-4499-87a2-3110c66c4d0d" Alias="Akvarell kvinna abstrakt" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/AkvarellKvinnaAbstrakt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:56:31</CreateDate>
    <NodeName Default="Akvarell kvinna abstrakt" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ijsnty2y/girl-2013447_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>