<?xml version="1.0" encoding="utf-8"?>
<Media Key="00158958-186a-4ff4-951b-cea374f028ca" Alias="Galleri centrerad" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/GalleriCentrerad</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:59:10</CreateDate>
    <NodeName Default="Galleri centrerad" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l0ebkadk/galleri-centrerad.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>