<?xml version="1.0" encoding="utf-8"?>
<Media Key="038a7f15-5ef1-4fa5-a070-194f8d357274" Alias="Gallery" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-08T10:48:24</CreateDate>
    <NodeName Default="Gallery" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>