<?xml version="1.0" encoding="utf-8"?>
<Media Key="75dd99ef-014d-47c7-84c5-aa45934d4bcc" Alias="Headers (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Headers1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-03T10:48:12</CreateDate>
    <NodeName Default="Headers (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>