<?xml version="1.0" encoding="utf-8"?>
<Media Key="4db64d59-97ed-4df3-8a8a-04673a378a30" Alias="Jasmine Bost" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/JasmineBost</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-03T10:47:24</CreateDate>
    <NodeName Default="Jasmine Bost" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l3glmtpn/jasmine-portraett2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>