<?xml version="1.0" encoding="utf-8"?>
<Media Key="f92fa5e0-3f02-4b8a-a805-f933be0928e3" Alias="Kol abstrakt" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/KolAbstrakt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:54:26</CreateDate>
    <NodeName Default="Kol abstrakt" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/20sd54ic/fire-1235718_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>