<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e5a4bf2-c7ac-4053-b7df-c6e378bb80bb" Alias="Kol porträtt gruvarbetare" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/KolPortraettGruvarbetare</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:54:26</CreateDate>
    <NodeName Default="Kol porträtt gruvarbetare" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4rffvhvm/miner-7656568_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>