<?xml version="1.0" encoding="utf-8"?>
<Media Key="46a329ca-5727-434a-a7cb-8973a6d116e9" Alias="Kurser thumnail" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/KurserThumnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T14:15:17</CreateDate>
    <NodeName Default="Kurser thumnail" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zqulgrrh/kurser-thumnail.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>