<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec79d2f7-c6bb-47dd-9123-71213b52c2d9" Alias="Olja stadsreflektion" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/OljaStadsreflektion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:55:45</CreateDate>
    <NodeName Default="Olja stadsreflektion" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4hjht1f1/pexels-pixabay-164455-1920x1440.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>