<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ebf3532-4316-44b3-aaa4-c800b9c2f48d" Alias="Olja abstrakt" Level="2">
  <Info>
    <Parent Key="038a7f15-5ef1-4fa5-a070-194f8d357274">Gallery</Parent>
    <Path>/Gallery/OljaAbstrakt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:55:45</CreateDate>
    <NodeName Default="Olja abstrakt" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gq0l5dqw/pexels-steve-johnson-1292241-1920x1259.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>