<?xml version="1.0" encoding="utf-8"?>
<Media Key="71ab2963-82b2-4507-af26-e5a423d916d1" Alias="Penslar och färg" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/PenslarOchFaerg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:58:04</CreateDate>
    <NodeName Default="Penslar och färg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/muulw2ns/kurspenslas.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>