<?xml version="1.0" encoding="utf-8"?>
<Media Key="191a9648-a483-4cb4-8d6d-b615ec281d11" Alias="Pensel med lila färg" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/PenselMedLilaFaerg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:57:42</CreateDate>
    <NodeName Default="Pensel med lila färg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j0lbugmd/kurs.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>