<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf8fed67-2fca-48c0-8d00-ccdc5f3ec9bc" Alias="Porträtt i kol" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/PortraettIKol</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:54:42</CreateDate>
    <NodeName Default="Porträtt i kol" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mhwj5t4k/portraett.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>