<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec2b9442-d0dc-4aa9-9a5d-238bc038ad6e" Alias="Porträtt i vattenfärg" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/PortraettIVattenfaerg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:55:04</CreateDate>
    <NodeName Default="Porträtt i vattenfärg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iskcx1g2/watercolour-4749003_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>