<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ec8b89b-f777-49a3-bc25-5d2bd9b13ee7" Alias="Porträtt thumnail" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/PortraettThumnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T14:15:35</CreateDate>
    <NodeName Default="Porträtt thumnail" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tw2mqxtx/portraett-thumnail.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>