<?xml version="1.0" encoding="utf-8"?>
<Media Key="5864da7b-d9f7-4bdb-90ac-247aafda0966" Alias="Ramsnickeri" Level="2">
  <Info>
    <Parent Key="9cb83805-d5a4-4005-b45e-f66cb5fae39a">Headers</Parent>
    <Path>/Headers/Ramsnickeri</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:58:37</CreateDate>
    <NodeName Default="Ramsnickeri" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pxngiwhx/ram.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>