<?xml version="1.0" encoding="utf-8"?>
<Media Key="31e7f70c-20a3-47d4-b7f9-ce5c55798d4c" Alias="Watercolor 5380352 1920" Level="2">
  <Info>
    <Parent Key="3464d78e-c1d2-4fe4-807d-402672b237a5">Design</Parent>
    <Path>/Design/Watercolor53803521920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-01T13:18:38</CreateDate>
    <NodeName Default="Watercolor 5380352 1920" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bl1pomnd/watercolor-5380352_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>