<?xml version="1.0" encoding="utf-8"?>
<Media Key="a28f51ed-6192-4659-a5e9-04f9f121fa1f" Alias="Watercolor 5380352 1920Newedit (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Watercolor53803521920Newedit1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T14:17:19</CreateDate>
    <NodeName Default="Watercolor 5380352 1920Newedit (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3nij5ius/watercolor-5380352_1920newedit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>