<?xml version="1.0" encoding="utf-8"?>
<Content Key="faf1373a-3c80-49d7-9bab-9268f8e64db0" Alias="Akryl sommaräng" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkrylSommaraeng</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:26:01</CreateDate>
    <NodeName Default="Akryl sommaräng" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Målning med sommaräng och ett hus]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Ej tillgänglig"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Röd Sommar" fångar stunden då en äng exploderar i havet av samma röda blommor, vars blommor dansar i vinden som om de målats med akrylfärgens livliga energi. Bergskedjan i horisonten ramar in scenen, med skiftande nyanser av blått och grått som skapar avståndets illusion. En ensamt belägen kulle bär ett hus, omgivet av några träd, och skapar en känsla av avlägsenhet och stillhet mitt i den blomstrande sommarprakten.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[40]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "302f98fe-e662-4424-a327-3c153d62e62e",
    "mediaKey": "8d6bd225-6f2c-4cc7-85ab-55868c08df66"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Mellan Tradition och Innovation"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akryl 2023"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Landskap"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Röd Sommar]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[120]]></Value>
    </width>
  </Properties>
</Content>