<?xml version="1.0" encoding="utf-8"?>
<Content Key="359fdeea-f16a-40e0-b280-89489c63ba65" Alias="Akryl uggla" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkrylUggla</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:40:58</CreateDate>
    <NodeName Default="Akryl uggla" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Akrylmålning på uggla]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Till Salu"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Färgglada Nattens Väktare" fångar en uggla i akrylfärgernas intensiva lek. Den stolta fågeln poserar med sina stora, nyfikna ögon och mjuka fjäderdräkt, badad i ett kalejdoskop av starka färger. Målningen blir en hyllning till nattens magi och ugglans mystiska skönhet, där varje penseldrag är en ton i en symfoni av levande färger och nattlig elegans.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[70]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "6378b336-ff8b-4d49-99bc-35b26ba38dc3",
    "mediaKey": "d4b42cfa-fe27-4e6c-836b-200a76c4963a"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Mellan Tradition och Innovation"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akryl 2023"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Djur"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Färgglada Nattens Väktare]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[30]]></Value>
    </width>
  </Properties>
</Content>