<?xml version="1.0" encoding="utf-8"?>
<Content Key="87af8700-70c6-455f-952c-5a24cc430b13" Alias="Akrylporträtt kvinna" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkrylportraettKvinna</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:46:39</CreateDate>
    <NodeName Default="Akrylporträtt kvinna" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Akrylmålning porträtt kvinna svart-vitt]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Ej tillgänglig"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Kontrastens Porträtt" är en modern och stilistisk målning där en kvinna framträder i en komposition av svart, vitt och grått. Penseldragen skapar dynamiska kontraster och former, framhäver inte bara hennes yttre skönhet utan även de djupare nyanserna av hennes inre värld. En konstnärlig exploration av ljus och skugga, där varje penseldrag blir ett språk som talar om både styrka och sårbarhet.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[90]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "4269f508-dc07-4567-9f6f-5d0c482ae849",
    "mediaKey": "a19e4b13-85a0-49a2-80e9-6efbd74997e9"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Ljus och Skugga"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akryl 2011"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Porträtt"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Kontrastens Porträtt]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[1]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[30]]></Value>
    </width>
  </Properties>
</Content>