<?xml version="1.0" encoding="utf-8"?>
<Content Key="43a70041-6290-42a8-b35e-5f9e59b05849" Alias="Akryl höst" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkrylHoest</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:44:08</CreateDate>
    <NodeName Default="Akryl höst" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Akrylmålning höst]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "För utlåning"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Höstdrömmar vid Sjöns Strand" fångar en idyllisk dag i hösten, där en sjö breder ut sig i förgrunden och ett pittoreskt trädhus står tryggt på andra sidan. Den färgsprakande lövverket speglar sig i sjöns blanka yta, och skogen av björkar och tallar bildar en mångfald av varma nyanser i bakgrunden. Det är en tavla där höstens milda eftermiddagsljus kastar en gyllene skimmer över landskapet och skapar en drömlik känsla av fridfullhet och stillhet.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[70]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "59946c86-1b6d-4e67-8190-80badc11fa13",
    "mediaKey": "5b1176eb-48bc-4b4f-a74d-0f67692dd795"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Natur och Närhet"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akryl 2008"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Landskap"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Höstdrömmar vid Sjöns Strand]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[90]]></Value>
    </width>
  </Properties>
</Content>