<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dead965-4118-4adb-a817-e621db7a7bbe" Alias="Akryl vinter" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkrylVinter</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:30:22</CreateDate>
    <NodeName Default="Akryl vinter" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Vinterlandskap reflekterad på is]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Till Salu"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Isens Vintermelodi" fångar vinterlandskapets tysta symfoni i nyanser av blått, lila och vitt. Isen och snön speglar sig i sjöns lugna yta, skapandes en förtrollande atmosfär av stillhet och kyla. Målningens få björkar sträcker sina grenar som penseldrag mot den frostiga horisonten, och de små inslagen av rött adderar en subtil värme till detta frusna konstverk.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[60]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "c40a21d5-94f3-4f8f-82ee-3bbfa4223868",
    "mediaKey": "8b9073f3-1840-475d-83a2-dc5bef0dedd8"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Mellan Tradition och Innovation"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akryl 2023"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Natur",
  "Landskap"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Isens Melodi]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[90]]></Value>
    </width>
  </Properties>
</Content>