<?xml version="1.0" encoding="utf-8"?>
<Content Key="1291baaf-8e83-4846-959f-c4b948b4d881" Alias="Akryl lila" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkrylLila</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:36:25</CreateDate>
    <NodeName Default="Akryl lila" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Landskapsmålning med dramatisk solnedgångshimmel]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Till Salu"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Skymningens Eld" fångar naturens dramatiska farväl till dagen när buskar och björkar blir silhuetter mot en himmel som flammar i blått, lila, orange och vitt. Solnedgången skapar ett spektakulärt färgspel där varje nyans av himlen dansar i harmoni med landskapet. Målningen blir en visuell resa in i den magiska övergången mellan dag och natt, där dramatiken i solens farväl kastar en förtrollande skugga över hela scenen.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[90]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "0fe98330-813f-4892-9c06-f3e4ac046f9f",
    "mediaKey": "d47d8e14-5a89-4391-a77b-81dd9b080657"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Mellan Tradition och Innovation"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akryl 2023"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Natur",
  "Landskap"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Skymningens Eld]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[40]]></Value>
    </width>
  </Properties>
</Content>