<?xml version="1.0" encoding="utf-8"?>
<Content Key="308ce4dc-21b7-4391-8b93-29bbc076ae43" Alias="Akvarell abstrakt färgbomb" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkvarellAbstraktFaergbomb</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T15:37:29</CreateDate>
    <NodeName Default="Akvarell abstrakt färgbomb" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Tavla med abstrakt blomma]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Till Salu"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[Floral Chromatica fångar essensen av en abstrakt blomma i full blom, där livliga färger dansar tillsammans i harmonisk kaos.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[80]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "0654f3e7-89ec-41c4-9e90-7ec619edb012",
    "mediaKey": "6699b48b-3544-4317-8dbf-f7219702c34e"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Måleriets Magi"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Abstrakt 2023"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Blomster"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akvarell"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Floral Chromatica]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[80]]></Value>
    </width>
  </Properties>
</Content>