<?xml version="1.0" encoding="utf-8"?>
<Content Key="876a7a19-84b6-4bfa-a438-a6174e94e6b8" Alias="Akvarell porträtt kvinna" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkvarellPortraettKvinna</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T15:52:22</CreateDate>
    <NodeName Default="Akvarell porträtt kvinna" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Målning av kvinna i höstiga färger]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Ej tillgänglig"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[I "Solnedgångens Milda Leende" fångas en kvinnofigur i sidoprofil, badad i varma nyanser av orange och gult som reflekterar kvällssolen. Ett subtilt grönt inslag markerar en skvätt friskt liv. Hennes neutrala uttryck, en försiktig båge av leende, fångar stunden då dagen möter natten i en vardaglig dans av färger och lugn.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[90]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "ba248af0-43f8-43fb-b479-686e75922cae",
    "mediaKey": "8669e341-e527-4aeb-be91-7eea71423b59"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Skiss till Mästerverk"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akvarell 2005"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Porträtt"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akvarell"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Solnedgångens Milda Leende]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[1]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[30]]></Value>
    </width>
  </Properties>
</Content>