<?xml version="1.0" encoding="utf-8"?>
<Content Key="72990550-21b9-4035-8a55-783252c92749" Alias="Akvarell havsfåglar" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkvarellHavsfaaglar</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T15:57:04</CreateDate>
    <NodeName Default="Akvarell havsfåglar" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Målning vågigt vatten och flygande fåglar]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Kan återskapas"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[I "Vingslag över Havets Harmoni" möter detaljerade sjöfåglar eleganta, stiliserade vågor som väver en rytmisk dans på vattnets yta. Den abstrakta himlen, en lek av mjuka nyanser och former, låter betraktaren förlora sig i öppna horisonter. En målning som fångar flyktiga ögonblick av frihet, där fåglarnas vingslag och havets harmoni sammanflätas i ett konstnärligt poesi av naturens skönhet.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[60]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "84255cbc-befa-4b50-bdf2-a0dbf86592aa",
    "mediaKey": "2ddbf1ea-1991-422d-8fc4-877ae54f6942"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Bortom Horisonten"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akvarell 2012"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Natur"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akvarell"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Vingslag över Havets Harmoni]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[60]]></Value>
    </width>
  </Properties>
</Content>