<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b456e6e-f51e-4244-a5e3-58cf60e0080b" Alias="Akvarell kvinna abstrakt" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkvarellKvinnaAbstrakt</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T15:46:40</CreateDate>
    <NodeName Default="Akvarell kvinna abstrakt" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Tavla porträtt med kvinna]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "För utlåning"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[I "Melankolisk Porträtt av Skuggor" målas kvinnans sorg med kontrasterande glada akvarellfärger. Trots det lekfulla spelet av toner och droppar, avspeglar hennes blyertsporträtt fortfarande en underliggande melankoli, där glädjen kämpar med skuggorna av osynlig smärta.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[80]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "caff3566-5d35-4916-8649-cb72d877b0cf",
    "mediaKey": "e3d96444-b998-4499-87a2-3110c66c4d0d"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Skiss till Mästerverk"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akvarell 2005"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Porträtt"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akvarell"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Melankolisk Porträtt av Skuggor]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[1]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[40]]></Value>
    </width>
  </Properties>
</Content>