<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d4f4854-919c-4b0b-9519-98c70ccbe0a2" Alias="Akvarell vinterdimma" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/AkvarellVinterdimma</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:03:05</CreateDate>
    <NodeName Default="Akvarell vinterdimma" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Skog i vinterdimma]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Kan återskapas"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[I "Förvillelsens Fjärran" badas landskapet i vitt, där dimman suddar ut gränserna mellan tallar och avlägsna berg. En subtilt blå nyans sveper över scenen, skapar en kylig tystnad som endast vinter kan föra med sig. Denna målning bjuder in betraktaren att utforska det mystiska avlägsna, där varje penseldrag gestaltar en frusen stund i naturens lugna dans.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[50]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "b81b7906-ec86-4173-a249-0a6e33240a46",
    "mediaKey": "c13f9ce9-bf87-42e7-b93e-5b02cf32a031"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Bortom Horisonten"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akvarell 2012"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Natur"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akvarell"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Förvillelsens Fjärran]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[120]]></Value>
    </width>
  </Properties>
</Content>