<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0f6c603-c651-41c0-932d-96b37a118fbe" Alias="Exempelbild Två" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/ExempelbildTvaa</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-03T14:16:08</CreateDate>
    <NodeName Default="Exempelbild Två" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Porträtt som målas]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Ej tillgänglig"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[90]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "d7b661f2-ee85-46f2-8374-17786d44cb0e",
    "mediaKey": "cf8fed67-2fca-48c0-8d00-ccdc5f3ec9bc"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Stockholm 2022"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Life Studies"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Behind the scenes"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Kolteckning"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Gubbis ritar Gubbis]]></Value>
    </titel>
    <width>
      <Value><![CDATA[50]]></Value>
    </width>
  </Properties>
</Content>