<?xml version="1.0" encoding="utf-8"?>
<Content Key="cde07819-8bc2-4e42-a166-2eeb46e46d90" Alias="Exempelbild" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/Exempelbild</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-03T14:13:19</CreateDate>
    <NodeName Default="Exempelbild" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Penslar och färg]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Kan återskapas"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[Det här är den beskrivande texten för bilden]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[120]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "1998c555-b65b-4892-8d06-0140d21e3f3d",
    "mediaKey": "71ab2963-82b2-4507-af26-e5a423d916d1"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Stockholm 2022"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Behind the scenes",
  "Porträtt",
  "Beställning"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Akryl"
]]]></Value>
    </technique>
    <width>
      <Value><![CDATA[100]]></Value>
    </width>
  </Properties>
</Content>