<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-10-27T13:32:35</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <authorFive>
      <Value><![CDATA[Amir Khan]]></Value>
    </authorFive>
    <authorFour>
      <Value><![CDATA[Isabella Söderlund]]></Value>
    </authorFour>
    <authorOne>
      <Value><![CDATA[Alexander Persson]]></Value>
    </authorOne>
    <authorThree>
      <Value><![CDATA[Rafael Oliveira]]></Value>
    </authorThree>
    <authorTwo>
      <Value><![CDATA[Leonardo Konstnärsson]]></Value>
    </authorTwo>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <commentFive>
      <Value><![CDATA["Jag är helt förtjust i den vackra ramen som Jasmin skapade för mitt konstverk. Det är som om ramen och tavlan är självklara soulmates, och tillsammans utstrålar de en förtrollande skönhet."]]></Value>
    </commentFive>
    <commentFour>
      <Value><![CDATA["Tavlorestaureringen är en konstform i sig – magiskt utförd!"]]></Value>
    </commentFour>
    <commentOne>
      <Value><![CDATA["Jag har haft förmånen att delta i Jasmins konstkurser och det har varit en fantastisk upplevelse. Hans personliga handledning och uppmuntran har gett mig modet att utforska olika tekniker. En inspirerande lärare!"]]></Value>
    </commentOne>
    <commentThree>
      <Value><![CDATA["Jasmins konstnärskap skapar en fantastisk atmosfär i 'Speglingar av Historia'. Att få ha denna tavla hemma har förvandlat mitt rum till en poetisk resa genom tid och rum, och varje titt på den ger en känsla av lugn och reflektion."]]></Value>
    </commentThree>
    <commentTwo>
      <Value><![CDATA["Jasmin är en mästerlig lärare och konstnär. Hans kurser är inte bara lärorika utan också roliga."]]></Value>
    </commentTwo>
    <footerAddress>

      <Value><![CDATA[S:t Persgatan 3C, 582 28 Linköping]]></Value>
    </footerAddress>
    <HeroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "d58f8382-69ac-40e9-93d2-340f419aa6bb",
    "mediaKey": "a28f51ed-6192-4659-a5e9-04f9f121fa1f"
  }
]]]></Value>
    </HeroBackgroundImage>
    <heroDescription>
      <Value><![CDATA[Utforska färdiga mästerverk, beställ unika porträtt, återuppliva gamla tavlor och upptäck konsten att skapa själv i våra inspirerande kurser.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[Välkommen!]]></Value>
    </heroHeader>
    <konstgalleriBild>
      <Value><![CDATA[[
  {
    "key": "dcdde8a5-2470-4a19-830b-f2946f7b386b",
    "mediaKey": "47abfdbc-3914-4717-8400-1c7b82c0d221"
  }
]]]></Value>
    </konstgalleriBild>
    <kurserBild>
      <Value><![CDATA[[
  {
    "key": "974a75ab-ea89-4c5c-b8f3-867c53bb78d7",
    "mediaKey": "46a329ca-5727-434a-a7cb-8973a6d116e9"
  }
]]]></Value>
    </kurserBild>
    <portraettBild>
      <Value><![CDATA[[
  {
    "key": "cf2a1b57-499a-41d9-84db-cf638b7cae61",
    "mediaKey": "5ec8b89b-f777-49a3-bc25-5d2bd9b13ee7"
  }
]]]></Value>
    </portraettBild>
    <ramverkstadBild>
      <Value><![CDATA[[
  {
    "key": "0df9a8c1-7391-4430-99c6-a3be5adc548d",
    "mediaKey": "5864da7b-d9f7-4bdb-90ac-247aafda0966"
  }
]]]></Value>
    </ramverkstadBild>
    <restaureringBild>
      <Value><![CDATA[[
  {
    "key": "910553f2-b29e-490b-99fe-15d3fff0f3c3",
    "mediaKey": "191a9648-a483-4cb4-8d6d-b615ec281d11"
  }
]]]></Value>
    </restaureringBild>
    <SiteLogo>
      <Value><![CDATA[[]]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[Atelje KonstRam]]></Value>
    </sitename>
  </Properties>
</Content>