<?xml version="1.0" encoding="utf-8"?>
<Content Key="23b27f83-b179-4902-a710-1396a7f445e7" Alias="Kol abstrakt" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/KolAbstrakt</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:18:24</CreateDate>
    <NodeName Default="Kol abstrakt" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Målning kol på bränt träd]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Kan återskapas"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Eldens Elegi" utforskar skönheten i förödelse genom abstrakta kolmålade mönster som avbildar träd i olika nyanser av svart. Varje penseldrag gestaltar de förlorade bladen och de brända grenarna, och målningen blir en poetisk tolkning av överlevnad och förnyelse i skuggan av förödelse. Eldens sporadiska dans på duken skapar en visuell elegi där naturens motståndskraft möter de svarta spåren av förändring och återfödelse.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[60]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "291ed7fd-26f2-4877-a1b5-6030ac7aedeb",
    "mediaKey": "f92fa5e0-3f02-4b8a-a805-f933be0928e3"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Natur och Närhet"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Kol 2018"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Natur",
  "Abstrakt",
  "Mönster"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Kolteckning"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Eldens Elegi]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[90]]></Value>
    </width>
  </Properties>
</Content>