<?xml version="1.0" encoding="utf-8"?>
<Content Key="06248b71-61f6-4aff-8e0d-c62d00caab63" Alias="Kol porträtt gruvarbetare" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/KolPortraettGruvarbetare</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:14:54</CreateDate>
    <NodeName Default="Kol porträtt gruvarbetare" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Porträtt i kol med gruvarbetare]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Ej tillgänglig"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA["Stoftets Mästare" fångar en äldre gruvarbetares slitna värdighet i kolens målande omfamning. Varje streck och skugga på det robusta porträttet bär vittnesbörd om årtionden av hårt arbete och tyst erfarenhet. Kolens djupa svärta skapar kontrast mot de slående ögon som har bevittnat gruvans mörka mysterier och ljusets triumfer. Målningen hyllar inte bara ett ansikte, utan hela en era av hängivenhet och styrka som genomsyrar varje linje av "Stoftets Mästare".]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[60]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "f9dc19f9-3e3b-455b-bc29-3c14c71fdc77",
    "mediaKey": "9e5a4bf2-c7ac-4053-b7df-c6e378bb80bb"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Mellan Historia och Nutid"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Kol 2007"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Porträtt",
  "Historia"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Kolteckning"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Stoftets Mästare]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[30]]></Value>
    </width>
  </Properties>
</Content>