<?xml version="1.0" encoding="utf-8"?>
<Content Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac" Alias="Konstgalleri" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Konstgalleri</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2023-11-03T10:56:55</CreateDate>
    <NodeName Default="Konstgalleri" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ac17c14f-9daf-4ce1-aca5-6fc4bcea5649">Gallery</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "1d7178c8-3d68-4468-82b3-524764f5d36f",
    "mediaKey": "47abfdbc-3914-4717-8400-1c7b82c0d221"
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <galleryText>
      <Value><![CDATA[<h2>Galleri med konst i olika tekniker och stilar</h2>
<p>Här en stor samling av målningar som jag gjort de senaste åren i akryl, akvarell, olja, teckning.</p>
<p>Målningar som är till salu som de är eller som jag kan måla på nytt i en version som mer exakt passar dina önskemål.</p>
<p>Jag har tagit med många olika exempel som du kan ha som inspiration om du själv målar eller deltar i någon av mina kurser.</p>
<p>Klicka på en bild för att se exempel i respektive kategor. </p>]]></Value>
    </galleryText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Konstgalleri]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>