<?xml version="1.0" encoding="utf-8"?>
<Content Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac" Alias="Konstgalleri" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Konstgalleri</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2023-11-03T10:56:55</CreateDate>
    <NodeName Default="Konstgalleri" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ac17c14f-9daf-4ce1-aca5-6fc4bcea5649">Gallery</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "1d7178c8-3d68-4468-82b3-524764f5d36f",
    "mediaKey": "47abfdbc-3914-4717-8400-1c7b82c0d221"
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <galleryText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e10fc731162c4563b4683542d3cc3fd0",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/e10fc731162c4563b4683542d3cc3fd0",
      "richText": "<p>Välkommen till Jasmin Bosts konstgalleri, där skönhet möter mångfald! Upptäck hans mångsidighet genom olika stilar och tekniker, från olja till akvarell. Njut av konsten och utforska verk som är till salu för att förgylla ditt hem.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </galleryText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Konstgalleri]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>