<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a1f4198-e143-48ba-a0f5-1a7ef2df23aa" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-10-27T13:32:35</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82a26154-ded8-4cf5-9038-d00e4fcd556c">contact</Template>
  </Info>
  <Properties>
    <adress>
      <Value><![CDATA[S:t Persgatan 3C, 582 28 Linköping]]></Value>
    </adress>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "496031a3-d6f0-4e52-bd33-3baf0c2d84a5",
    "mediaKey": "a28f51ed-6192-4659-a5e9-04f9f121fa1f"
  }
]]]></Value>
    </bannerImage>
    <contactInfo>
      <Value><![CDATA[Här kan du höra av dig om allmänna frågor. För beställning av restaurering, porträtt, ramar eller köp är färdiga konstverk rekommenderas att du skriver i formulären från respektive sida - men så länge du tar kontakt löser vi resten tillsammans!]]></Value>
    </contactInfo>
    <contactIntro>
      <Value><![CDATA[<h2>Kontakt</h2>
<p>Det går bra att kontakta Jasmin via brev, telefon eller i formuläret nedan. Det går också utmärkt att komma förbi ateljén under vardagar 11-13 och ställa dina frågor direkt.</p>
<p>Du hittar ateljén i Linköpings slott, på S:t Persgatan 3C - en central och vacker plats som kan ge mycket inspiration för konstskapande</p>
<p>Telefon: +46 123 456 7890</p>
<p> </p>
<h2>Åka kollektivt</h2>
<p>Du hittar ateljén ca 350 meter från busshållplatsen Stora Torget som trafikeras av bland annat buss 3 och 6, eller bara 15 minuters promenad från Linköpings rececentrum.</p>
<p> </p>]]></Value>
    </contactIntro>
    <contactTitle>
      <Value><![CDATA[Kontakta Jasmin]]></Value>
    </contactTitle>
    <mapCoordinates>
      <Value><![CDATA[{
  "marker": {
    "latitude": 58.41039157820367,
    "longitude": 15.616061152124992
  },
  "zoom": 17,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 58.40840622143448,
      "longitude": 15.613664522088483
    },
    "northEastCorner": {
      "latitude": 58.41065431696683,
      "longitude": 15.620563163674786
    }
  }
}]]></Value>
    </mapCoordinates>
    <mapHeader>
      <Value><![CDATA[Adress]]></Value>
    </mapHeader>
    <pageTitle>
      <Value><![CDATA[Kontakt - Hitta hit]]></Value>
    </pageTitle>
  </Properties>
</Content>