<?xml version="1.0" encoding="utf-8"?>
<Content Key="23ce35b3-be77-4af3-9147-ce86c9f9dd5f" Alias="Kurser" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Kurser</Path>
    <Trashed>false</Trashed>
    <ContentType>courses</ContentType>
    <CreateDate>2023-11-07T14:15:07</CreateDate>
    <NodeName Default="Kurser" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e9916b-f609-4d79-9571-a51571cf742a">Courses</Template>
  </Info>
  <Properties>
    <availbleCourses>
      <Value><![CDATA[]]></Value>
    </availbleCourses>
    <availbleCoursesHeading>
      <Value><![CDATA[]]></Value>
    </availbleCoursesHeading>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "f8c05eac-b3a0-4ad1-a113-b8dba4a379b4",
    "mediaKey": "cf8fed67-2fca-48c0-8d00-ccdc5f3ec9bc"
  }
]]]></Value>
    </bannerImage>
    <introdructionText>
      <Value><![CDATA[<p>Välkommen till Jasmin Bosts konstkurser, där konstnärlig skaparkraft och pedagogisk expertis förenas. Med över 20 års erfarenhet som yrkeskonstnär och 13 års erfarenhet som konstlärare erbjuder Jasmin en unik inblick i både klassiskt och modernt måleri. Vi förstår att valet av en konstlärare är avgörande, och därför uppmuntrar vi dig att utforska vårt galleri med Jasmins konstverk för att säkerställa att det passar din stil. Våra elever återkommer ofta, vilket vittnar om Jasmins uppskattade pedagogiska talanger och förmåga att inspirera. Kom och upplev konsten med en mästare som inte bara är en skicklig konstnär utan också en framstående lärare.</p>]]></Value>
    </introdructionText>
    <moreCourseInformation>
      <Value><![CDATA[]]></Value>
    </moreCourseInformation>
    <moreCourseInformationHeading>
      <Value><![CDATA[]]></Value>
    </moreCourseInformationHeading>
    <pageTitle>
      <Value><![CDATA[Kurser]]></Value>
    </pageTitle>
    <priceInformation>
      <Value><![CDATA[]]></Value>
    </priceInformation>
    <priceInformationHeading>
      <Value><![CDATA[]]></Value>
    </priceInformationHeading>
    <shortCourseInformation>
      <Value><![CDATA[]]></Value>
    </shortCourseInformation>
    <shortCourseInformationHeading>
      <Value><![CDATA[Kurser]]></Value>
    </shortCourseInformationHeading>
  </Properties>
</Content>