<?xml version="1.0" encoding="utf-8"?>
<Content Key="05320637-6cac-4064-9f1e-ff084c7a2345" Alias="Kurser (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Kurser1</Path>
    <Trashed Parent="ca4249ed-2b23-4337-b522-63cabe5587d1">true</Trashed>
    <ContentType>courses</ContentType>
    <CreateDate>2023-11-07T14:15:42</CreateDate>
    <NodeName Default="Kurser (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33e9916b-f609-4d79-9571-a51571cf742a">Courses</Template>
  </Info>
  <Properties>
    <avalibleCourses>
      <Value><![CDATA[]]></Value>
    </avalibleCourses>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "2032cbe2-df57-4ab7-81ae-e56e86f679a8",
    "mediaKey": "cf8fed67-2fca-48c0-8d00-ccdc5f3ec9bc"
  }
]]]></Value>
    </bannerImage>
    <introdructionText>
      <Value><![CDATA[]]></Value>
    </introdructionText>
    <pageTitle>
      <Value><![CDATA[Kurser]]></Value>
    </pageTitle>
  </Properties>
</Content>