<?xml version="1.0" encoding="utf-8"?>
<Content Key="09da3bad-8c7e-4a10-844f-56897b6ff37e" Alias="Kurser" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Kurser</Path>
    <Trashed>false</Trashed>
    <ContentType>courses</ContentType>
    <CreateDate>2023-11-08T13:47:54</CreateDate>
    <NodeName Default="Kurser" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c987d96-83ef-4065-8f66-8f45179d12b4">Courses</Template>
  </Info>
  <Properties>
    <availableCoursesHeading>
      <Value><![CDATA[Kurser våren 2024]]></Value>
    </availableCoursesHeading>
    <availbleCourses>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/52552d5befbd409e87ab15c97e9d0657",
        "areas": [
          {
            "key": "769a5862-bb20-4286-bd0a-235542d70605",
            "items": [
              {
                "contentUdi": "umb://element/35a936970dde4794b676ec10a331f97f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "cd2381d5-9534-46cb-aa0b-2a66263f23e7",
            "items": [
              {
                "contentUdi": "umb://element/06114ba7ed4e44739be885b0a0449d94",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/52552d5befbd409e87ab15c97e9d0657"
    },
    {
      "contentTypeKey": "b5c9e0a5-23e0-4e88-acfc-1ea68148b515",
      "udi": "umb://element/35a936970dde4794b676ec10a331f97f",
      "lessRichTextEditor": "<div>\n<h3>Vårkurs 1 startar i januari v. 3</h3>\n<ul>\n<li>Måndagar 15 jan - 19 feb, 6 ggr</li>\n<li>Tisdagar  16 jan - 20 feb, 6 ggr</li>\n<li>Onsdagar 17 jan - 21 feb, 6 ggr</li>\n<li>Torsdagar 18 jan - 22 feb, 6 ggr</li>\n</ul>\n</div>\n<div>\n<p>Uppehåll v. 9 sportlov.</p>\n<div>\n<h3>Vårkurs 2 startar i mars v.10</h3>\n<ul>\n<li>Måndagar 4 mars - 15 apr, 6 ggr</li>\n<li>Tisdagar  5 mars - 16 apr, 6 ggr</li>\n<li>Onsdagar 6 mars - 17 apr, 6 ggr</li>\n<li>Torsdagar 7 mars - 18 apr, 6 ggr</li>\n</ul>\n<p>Inga kurser 27 mars, 28 mars, 1 april 2 april.</p>\n</div>\n<div>\n<h3>Vårkurs 3 startar i april v.17</h3>\n<div>\n<ul>\n<li>Måndagar 22 apr - 27 maj, 6 ggr</li>\n<li>Tisdagar  23 apr - 28 maj, 6 ggr</li>\n<li>Onsdagar 24 apr - 29 maj, 5 ggr</li>\n<li>Torsdagar 25 apr - 30 maj, 5 ggr</li>\n</ul>\n<p>Inga kurser 1 maj, 9 maj.</p>\n</div>\n</div>\n</div>"
    },
    {
      "contentTypeKey": "b5c9e0a5-23e0-4e88-acfc-1ea68148b515",
      "udi": "umb://element/06114ba7ed4e44739be885b0a0449d94",
      "lessRichTextEditor": "<div class=\"text-spalt\"></div>\n<div class=\"text-spalt\">\n<h4>Vårkurs 1 + 2</h4>\n<ul>\n<li>Måndagar 15 jan - 15 apr 12 ggr</li>\n<li>Tisdagar  16 jan - 18 apr, 12 ggr</li>\n<li>Onsdagar 17 jan - 17 apr, 12 ggr</li>\n<li>Torsdagar 18 jan - 18 apr, 12 ggr</li>\n</ul>\n</div>\n<div>\n<p>Uppehåll v. 9 sportlov.</p>\n<div class=\"text-spalt\">\n<h4>Vårkurs 2 + 3, 11 eller 12 gånger</h4>\n<ul>\n<li>Måndagar 4 mars - 27 maj, 12 ggr (4 500:-)</li>\n<li>Tisdagar   5 mars - 28 maj, 12 ggr (4 500:-)</li>\n<li>Onsdagar 6 mars - 29 maj, 11 ggr (4 125:-)</li>\n<li>Torsdagar 7 mars - 30 maj, 11 ggr (4 125:-)</li>\n</ul>\n</div>\n<div>\n<div class=\"text-spalt\">\n<p>Inga kurser 1 maj, 9 maj.</p>\n</div>\n</div>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </availbleCourses>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "e01818f2-3270-4c3a-b4d3-87e47fc3b3ef",
    "mediaKey": "46a329ca-5727-434a-a7cb-8973a6d116e9"
  }
]]]></Value>
    </bannerImage>
    <introdructionText>
      <Value><![CDATA[<p>Välkommen till Jasmin Bosts konstkurser, där konstnärlig skaparkraft och pedagogisk expertis förenas. Med över 20 års erfarenhet som yrkeskonstnär och 13 års erfarenhet som konstlärare erbjuder Jasmin en unik inblick i både klassiskt och modernt måleri. Vi förstår att valet av en konstlärare är avgörande, och därför uppmuntrar vi dig att utforska vårt galleri med Jasmins konstverk för att säkerställa att det passar din stil. Våra elever återkommer ofta, vilket vittnar om Jasmins uppskattade pedagogiska talanger och förmåga att inspirera. Kom och upplev konsten med en mästare som inte bara är en skicklig konstnär utan också en framstående lärare.</p>]]></Value>
    </introdructionText>
    <moreCourseInformation>
      <Value><![CDATA[<p>.</p>]]></Value>
    </moreCourseInformation>
    <moreCourseInformationHeading>
      <Value><![CDATA[Mer kursinformation]]></Value>
    </moreCourseInformationHeading>
    <pageTitle>
      <Value><![CDATA[Kurser]]></Value>
    </pageTitle>
    <priceInformation>
      <Value><![CDATA[<h3>En kurs</h3>
<ul>
<li>6 kurstillfällen: 2 950 kr</li>
<li>5 kurstillfällen: 2 450 kr</li>
</ul>
<h3>Två sammanhängande kurser</h3>
<ul>
<li>12 kurstillfällen: 4 500 kr</li>
<li>11 kurstillfällen: 4 125 kr</li>
</ul>
<p>Förlängning till två sammanhängande kurser kan ske upp till och med fjärde kursveckan i förgående kurs, under förutsättning att plats finns. Det innebär en kostnad på 1 875kr för fem veckors förlängning eller en kostnad på för sex veckors förlängning 2 250 kr.</p>
<h3>Materialkostnad</h3>
<p>I materialkostnaden ingår förbrukningsmaterial i form av penseltvätt, återvinning av lösningsmedel och små färgprover.</p>
<p>Materialkostnad per 6 kurstillfällen:</p>
<ul>
<li>Olja: 75 kr</li>
<li>Akryl: 50 kr</li>
<li>Akvarell: 25 kr</li>
</ul>
<p>För kol/teckning tillkommer ingen extra kostnad</p>]]></Value>
    </priceInformation>
    <priceInformationHeading>
      <Value><![CDATA[Priser]]></Value>
    </priceInformationHeading>
    <shortCourseInformation>
      <Value><![CDATA[<ul>
<li>Välj din föredragna teknik: akvarell, akryl, olja, kol eller utforska flera av dem.</li>
<li>Kurserna sträcker sig över fyra sammanhängande timmar per vecka.</li>
<li>Veckodagar som erbjuds: måndagar, tisdagar, onsdagar eller torsdagar.</li>
<li>Två tidsalternativ att välja mellan: eftermiddagskurser från kl. 13:00 till 17:00 eller kvällskurser från kl. 18:00 till 22:00.</li>
<li>Max 8 elever per kurs ger individuell handledning</li>
<li>Våra kurser välkomnar både erfarna konstnärer och nybörjare.</li>
<li>Jasmin kan också arrangera specialanpassade konstevenemang för företag och grupper.</li>
</ul>]]></Value>
    </shortCourseInformation>
    <shortCourseInformationHeading>
      <Value><![CDATA[Översiktlig kursinformation]]></Value>
    </shortCourseInformationHeading>
  </Properties>
</Content>