<?xml version="1.0" encoding="utf-8"?>
<Content Key="029b0ef1-7dd6-43df-b1fb-3a16f479c6a1" Alias="Olja abstrakt" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/OljaAbstrakt</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:11:23</CreateDate>
    <NodeName Default="Olja abstrakt" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Abstrakt målning i olja]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Till Salu"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[I "Elemental Rhapsody" dansar stora, grova penseldrag över duken i en symfoni av vitt, blått, och orange, som om naturens krafter möts i ett abstrakt samspel. Röda stänk och streaks adderar en passionerad ton till kompositionen, skapandes en målning som både kolliderar och harmoniserar, fångar ögonblicket då elementen förenas i konstnärlig kollision och skapar något nytt och överraskande.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[60]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "6fdd5071-bd1b-4818-9e5e-2f21814e5cd2",
    "mediaKey": "8ebf3532-4316-44b3-aaa4-c800b9c2f48d"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Måleriets Magi"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Abstrakt 2023"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Abstrakt"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Olja"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Elemental Rhapsody]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[120]]></Value>
    </width>
  </Properties>
</Content>