<?xml version="1.0" encoding="utf-8"?>
<Content Key="345fa382-f9fa-4e88-9f4f-17f8652275ff" Alias="Olja stadsreflektion" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/OljaStadsreflektion</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-09T16:08:06</CreateDate>
    <NodeName Default="Olja stadsreflektion" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Målning europeisk stad speglad i vatten]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "För utlåning"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[I "Speglingar av Historia" fångar oljefärgerna en äldre europeisk stad som klär sig i toner av ockra och terrakotta, vars fasader dansar speglat på den stilla kanalens yta. Ljuset från gatlyktor och fönster skapar en romantisk glöd över vattnet, och varje penseldrag väcker till liv århundraden av arkitektonisk skönhet och kulturell arv. Målningen bjuder in betraktaren till en tidlös resa genom de stenlagda gatornas elegans och stadens själ som återspeglas i det spegelblanka vattnet.]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[60]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "f64f34d1-784a-46ae-9932-9f813028a6dc",
    "mediaKey": "ec79d2f7-c6bb-47dd-9123-71213b52c2d9"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[[
  "Stadens Skönhet"
]]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[[
  "Olja 1996"
]]]></Value>
    </series>
    <tags>
      <Value><![CDATA[[
  "Stad"
]]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Olja"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Speglingar av Historia]]></Value>
    </titel>
    <useAsPortrait>
      <Value><![CDATA[0]]></Value>
    </useAsPortrait>
    <width>
      <Value><![CDATA[90]]></Value>
    </width>
  </Properties>
</Content>