<?xml version="1.0" encoding="utf-8"?>
<Content Key="a90703d6-bebf-4d61-ae17-1325ba4b3ac9" Alias="Om Jasmin" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/OmJasmin</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-03T10:46:53</CreateDate>
    <NodeName Default="Om Jasmin" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "0c3060fd-53eb-4f64-8f22-f603d1abca75",
    "mediaKey": "4db64d59-97ed-4df3-8a8a-04673a378a30"
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/40d6ca0c556a4019976902e869d0e254",
        "areas": [
          {
            "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
            "items": [
              {
                "contentUdi": "umb://element/a574b61605f947fbaee8f48d20ff2208",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
            "items": [
              {
                "contentUdi": "umb://element/41056296ecee4125a56c07ebcce4fe25",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/40d6ca0c556a4019976902e869d0e254"
    },
    {
      "contentTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "udi": "umb://element/a574b61605f947fbaee8f48d20ff2208",
      "image": [
        {
          "key": "37132f5f-a1dc-4755-8599-1a1c51a365ff",
          "mediaKey": "4db64d59-97ed-4df3-8a8a-04673a378a30"
        }
      ]
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/41056296ecee4125a56c07ebcce4fe25",
      "richText": "<p>Jasmin Bost, en erfaren konstnär med över 25 års passion för sitt hantverk. Han skapar med olika tekniker, inklusive olja, akryl, akvarell och teckning/kol. Hans konstverk och ramar är skapade med omsorg, där varje ram är anpassad i färg och ton efter det unika konstverket. Jasmin är en konstnär som brinner för att dela sin kärlek till konsten och erbjuder spännande kurser. Hans kärlek till konsten föddes ur en barndom omgiven av vackra landskap på landsbygden i Laos och en önskan att föreviga naturens såväl som människornas skönhet på duk.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Om Jasmin Bost]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>