<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5695763-2ad1-494f-87f7-32658a2dbf6e" Alias="Porträtt" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Portraett</Path>
    <Trashed>false</Trashed>
    <ContentType>portrait</ContentType>
    <CreateDate>2023-11-09T11:06:26</CreateDate>
    <NodeName Default="Porträtt" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0971a4e9-a129-473e-ab5f-69e639d5f4fe">Portrait</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "8fe5bf65-71d6-45b3-a0b7-9775ff506c1c",
    "mediaKey": "ec2b9442-d0dc-4aa9-9a5d-238bc038ad6e"
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a1a0634561fd4876a9f590c665de0f62",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/a1a0634561fd4876a9f590c665de0f62",
      "richText": "<p>Upptäck konsten att fånga ögonblick och minnen med våra porträttmålningar, skapade av den skicklige konstnären Jasmin. Vi erbjuder porträtt av familjemedlemmar, husdjur eller till och med dina favoritkändisar. Jasmin levererar porträtt av högsta kvalitet som kommer att vara skattade minnesmärken för livet. Låt oss hjälpa dig föreviga dina mest betydelsefulla ögonblick på duk.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <contactInfo>
      <Value><![CDATA[För att bäst kunna hjälpa dig är det bra om du kan skicka med följande - men oroa dig inte om något saknas -  Vi löser det tillsammans! Teknik (ex olja, akvarell), hur många som ska vara i porträttet, ungefärliga mått du önskar och om du har ett visst datum det måste vara klart till.]]></Value>
    </contactInfo>
    <contactTitle>
      <Value><![CDATA[Beställ porträtt]]></Value>
    </contactTitle>
    <ctaText>
      <Value><![CDATA[Intresserad av att få ett porträtt målat? Kontakta oss idag!]]></Value>
    </ctaText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Porträtt]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>