<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e4cca31-ad01-4cd2-a2f7-2d42db433f20" Alias="Ram 1" Level="3">
  <Info>
    <Parent Key="742eef40-fd4f-44c1-af63-43f0bc840c27">Ramverkstad</Parent>
    <Path>/Home/Ramverkstad/Ram1</Path>
    <Trashed>false</Trashed>
    <ContentType>productFrame</ContentType>
    <CreateDate>2023-11-09T16:56:52</CreateDate>
    <NodeName Default="Ram 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "5500e77e-07c0-43a4-95ca-f43c2efc7773",
    "mediaKey": "5864da7b-d9f7-4bdb-90ac-247aafda0966"
  }
]]]></Value>
    </image>
  </Properties>
</Content>