<?xml version="1.0" encoding="utf-8"?>
<Content Key="814b43e8-74a6-4d4d-b0b9-cec4cdb5b48c" Alias="Ram 5" Level="3">
  <Info>
    <Parent Key="742eef40-fd4f-44c1-af63-43f0bc840c27">Ramverkstad</Parent>
    <Path>/Home/Ramverkstad/Ram5</Path>
    <Trashed>false</Trashed>
    <ContentType>productFrame</ContentType>
    <CreateDate>2023-11-09T20:04:21</CreateDate>
    <NodeName Default="Ram 5" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "2de60135-7c0b-4359-ae54-7679414b0c63",
    "mediaKey": "5864da7b-d9f7-4bdb-90ac-247aafda0966"
  }
]]]></Value>
    </image>
  </Properties>
</Content>