<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ef8c7d9-8751-4b4b-99b3-13edf07b53c9" Alias="Ramverkstad bild" Level="3">
  <Info>
    <Parent Key="a60f125a-3ed3-467d-a4ef-64dae6d022ac">Konstgalleri</Parent>
    <Path>/Home/Konstgalleri/RamverkstadBild</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2023-11-03T14:28:40</CreateDate>
    <NodeName Default="Ramverkstad bild" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f4978f6-acd1-4002-ac56-d1099eb8b782">GalleryImage</Template>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Bild på ramverkstad]]></Value>
    </altText>
    <availability>
      <Value><![CDATA[[
  "Kan återskapas"
]]]></Value>
    </availability>
    <beskrivning>
      <Value><![CDATA[]]></Value>
    </beskrivning>
    <height>
      <Value><![CDATA[10000]]></Value>
    </height>
    <image>
      <Value><![CDATA[[
  {
    "key": "680581fb-3113-46c4-ac3a-95fcef3aa798",
    "mediaKey": "5864da7b-d9f7-4bdb-90ac-247aafda0966"
  }
]]]></Value>
    </image>
    <miscTags>
      <Value><![CDATA[]]></Value>
    </miscTags>
    <series>
      <Value><![CDATA[]]></Value>
    </series>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <technique>
      <Value><![CDATA[[
  "Kolteckning"
]]]></Value>
    </technique>
    <titel>
      <Value><![CDATA[Ramverkstaden]]></Value>
    </titel>
    <width>
      <Value><![CDATA[1000]]></Value>
    </width>
  </Properties>
</Content>