<?xml version="1.0" encoding="utf-8"?>
<Content Key="742eef40-fd4f-44c1-af63-43f0bc840c27" Alias="Ramverkstad" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Ramverkstad</Path>
    <Trashed>false</Trashed>
    <ContentType>frameworks</ContentType>
    <CreateDate>2023-11-09T10:04:32</CreateDate>
    <NodeName Default="Ramverkstad" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8988d04c-a43b-49ff-b0c6-e2a52c86f778">Frameworks</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "68898729-4384-4526-9369-4b080efb597b",
    "mediaKey": "5864da7b-d9f7-4bdb-90ac-247aafda0966"
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9692e04408ee40bf949acf42597728e9",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/9692e04408ee40bf949acf42597728e9",
      "richText": "<p>Ramverkstan, en del av Jasmin Bosts ateljé, är dedikerad åt att rama in konst med både precision och kreativitet. Driven av Jasmin själv, erbjuder Ramverkstan skräddarsydda ramlösningar för både färdiga konstverk och verk som beställs direkt från honom. Här kan du hitta det perfekta rambeklädnaden för att komplettera och förhöja dina konstverk på bästa sätt. Välj bland vårt varierande utbud av ramar och låt Ramverkstan ge din konst den inramning den förtjänar.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <contactInfo>
      <Value><![CDATA[Det här är lite mer text som kommer synas senare]]></Value>
    </contactInfo>
    <contactTitle>
      <Value><![CDATA[Köp ram]]></Value>
    </contactTitle>
    <ctaText>
      <Value><![CDATA[Intresserad av att köpa en ram? Kontakta oss idag!]]></Value>
    </ctaText>
    <frames>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/29b79e9cef834305aa7291a5b50931a1",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/10d253e4d41d438ea3cbaaafaae6d41a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "udi": "umb://element/29b79e9cef834305aa7291a5b50931a1",
      "image": [
        {
          "key": "6085c458-5bce-441e-9fec-aa3f4dbb04a9",
          "mediaKey": "5864da7b-d9f7-4bdb-90ac-247aafda0966"
        }
      ]
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/10d253e4d41d438ea3cbaaafaae6d41a",
      "richText": "<p style=\"text-align: center;\">Ram 1 - 120 kr</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </frames>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Ramverkstad]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>