<?xml version="1.0" encoding="utf-8"?>
<Content Key="26ca2f4b-b497-4896-baca-efd14737029b" Alias="Restaurering" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Restaurering</Path>
    <Trashed>false</Trashed>
    <ContentType>restoration</ContentType>
    <CreateDate>2023-11-08T13:05:47</CreateDate>
    <NodeName Default="Restaurering" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="acacfc51-c50e-4945-9021-8d944115a0d4">Restoration</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "b618f2d3-e4be-4431-a513-9fdb04d7a2ff",
    "mediaKey": "191a9648-a483-4cb4-8d6d-b615ec281d11"
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9594d981bac742f7900015b484ff5351",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2d1e2e2bcf6e4964914318c6c20471d6",
        "areas": [
          {
            "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
            "items": []
          },
          {
            "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/9594d981bac742f7900015b484ff5351",
      "richText": "<p>Ramverkstan, en del av Jasmin Bosts ateljé, är dedikerad åt att rama in konst med både precision och kreativitet. Driven av Jasmin själv, erbjuder Ramverkstan skräddarsydda ramlösningar för både färdiga konstverk och verk som beställs direkt från honom. Här kan du hitta det perfekta rambeklädnaden för att komplettera och förhöja dina konstverk på bästa sätt. Välj bland vårt varierande utbud av ramar och låt Ramverkstan ge din konst den inramning den förtjänar.</p>"
    },
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/2d1e2e2bcf6e4964914318c6c20471d6"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <contactInfo>
      <Value><![CDATA[Det här är lite text som kommer synas i framtiden men just nu kan vi inte se den.]]></Value>
    </contactInfo>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Restaurering]]></Value>
    </pageTitle>
    <par1>
      <Value><![CDATA[[
  {
    "key": "d44f27d2-01bd-4a88-970e-d23556da4a87",
    "mediaKey": "ec2b9442-d0dc-4aa9-9a5d-238bc038ad6e"
  },
  {
    "key": "d842addd-2fb1-422d-8860-b541714f50f5",
    "mediaKey": "191a9648-a483-4cb4-8d6d-b615ec281d11"
  }
]]]></Value>
    </par1>
    <par2>
      <Value><![CDATA[[
  {
    "key": "663d03e2-67bc-49e9-802d-bb3f82dbac29",
    "mediaKey": "47abfdbc-3914-4717-8400-1c7b82c0d221"
  },
  {
    "key": "bcbb999e-0b86-4422-bf0a-64fa1d3c70ae",
    "mediaKey": "46a329ca-5727-434a-a7cb-8973a6d116e9"
  }
]]]></Value>
    </par2>
    <par3>
      <Value><![CDATA[[]]]></Value>
    </par3>
    <par4>
      <Value><![CDATA[[]]]></Value>
    </par4>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>