<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c1c3a2c-72b0-45e2-a3c3-3c068164a018" Alias="Todo list for the Starter Kit" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TodoListForTheStarterKit</Path>
    <Trashed Parent="3cce2545-e3ac-44ec-bf55-a52cc5965db3">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-27T13:32:35</CreateDate>
    <NodeName Default="Todo list for the Starter Kit" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Things to improve]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>